# This file contains common pin mappings for the Better Klipper Expander.
# To use this config, the firmware should be compiled for the RP2040 with
# USB communication.

# The "make flash" command does not work on the Better Klipper Expander. Instead,
# after running "make", copy the generated "out/klipper.uf2" file
# to the mass storage device in RP2040 boot mode

# See docs/Config_Reference.md for a description of parameters.

[mcu]
serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00

[fan0]
pin: gpio0

[fan1]
pin: gpio1

[fan2]
pin: gpio2

[fan3]
pin: gpio3

[fan4]
pin: gpio4

[fan5]
pin: gpio5

[thermistor th0]
sensor_pin: gpio26
sensor_type: EPCOS 100K B57560G104F
#sensor_type: PT1000
#pullup_resistor: 4700

[thermistor th1]
sensor_pin: gpio27
sensor_type: EPCOS 100K B57560G104F

[neopixel neopixel]
pin: gpio24
chain_count:
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRB
#   Set the pixel order required by the LED hardware (using a string
#   containing the letters R, G, B, W with W optional). Alternatively,
#   this may be a comma separated list of pixel orders - one for each
#   LED in the chain. The default is GRB.
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0
